<div>
  Code with techynks
  <p>Angular ngmodule project</p>
</div>
<p>home works!</p>

<!-- <a routerLink="/about">Go to about</a> -->
<!-- <a [routerLink]="/about">Go to about</a> -->
<!-- <a (routerLink)="/about">Go to about</a> -->
<br>
<!-- <a [routerLink]="'/about'">Go to about</a> -->
<!-- <a [routerLink]="['/', 'about']">Go to about</a> -->

<!-- <a (click)="navigate()">Go to about 2</a> -->

<!-- <a [routerLink]="['/', 'about', 'test']">Go to about2.0</a> -->
<!-- <a [routerLink]="['/', 'about', 1]">Go to about2.0</a> -->

<a [routerLink]="['/', 'about', val]">Go to about2.0</a>
